Package: builddebiantree
Version: 2.2
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Depends: perl, dpkg, bzip2, tar, dpkg-dev, apt-utils, subversion, gpg
Section: myown
Priority: optional
Description: This perl script builds a debian tree from source in svn or loads deb files from directories.
	This script extracts source from svn, builds debian packages,
	 makes the correct directory tree for a debian distribution and places all deb files there.
	 The programme also recurses directories for debian packages and places them in the tree. The package also includes signmydebian which must be executed after updateing mydebian.
