Package: builddebiantree
Version: 2.5.3
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Depends: perl, dpkg, bzip2, tar, dpkg-dev, apt-utils, subversion | svn-src, gpg
Section: myown
Priority: optional
Description: This perl script builds a debian tree from source in svn or loads deb files from directories.
	This script extracts source from svn, or git and builds debian packages,
	 it also creates a complete Debian tree ,inserts the packages and signs the release files. Debian packages
	 can also be recursively found and inserted into the tree.
